body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.center-text{
	text-align: center;
}

.logo{
	height: 100%;
}

.logo-txt{
	margin-top: 15px;
}

.navbar, .navbar-brand, .navbar-item{
	height: 80px;
	text-transform: uppercase;
}

.navbar-brand{
	opacity: .9;
}

.navbar-brand:hover{
	opacity: 1;
}

.navbar, .navbar-default{
	margin-bottom: 0px;
	z-index: 1000;
}

.navbar-nav>li>a {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 20px;
	line-height: 30px;
}

.navbar-item>a:hover{
	border-top: 3px solid #003399;
	color: #003399;
	padding-top: 22px;
}

.navbar-collapse{
	background: #f8f8f8;
}

.carrusel{
	height: 500px;
	z-index: 500;
	
}
.carousel,.item,.active{
	height:100%;
}
.carousel-inner{
	height:100%;
}
.fill{
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
}

.servicios{
	margin-top: 90px;
	margin-bottom: 70px;
	color: #333;
}

.circle1, .circle2, .circle3, .circle4{
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin: 0 auto 35px auto;
}

.circle1{
	background-color: #e7604a;
}

.circle2{
	background-color: #ac72c3;
}

.circle3{
	background-color: #36c77b;
}

.circle4{
	background-color: #29c7c8;
}

.circle-glyph{
	color: white;
	font-size: 50px;
	margin-top: 35px;
	margin-left: 35px;
}

.servicios h5{
	font-size: 20px;
	margin-bottom: 24px;
	color: #333;
}

.servicios p{
	color: #979ba3;
	line-height: 24px;
	font-size: 15px;
	margin-bottom: 25px;
	text-align: center;
}

.btn-custom1.btn-lg:hover {
	background: #003366;
	color: #fff;
	border-color: #003366;
	text-decoration: none;
}
a:hover, a:focus{
	text-decoration: none;
}

.btn-custom1.btn-lg {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 14px 28px;
	transition: background 0.4s, border-color 0.4s;
	-webkit-transition: background 0.4s, border-color 0.4s;
	text-transform: uppercase;
	margin: 0 auto;
	display: block;
	text-decoration: none;
	margin-bottom: 20px;
}

.testimonials {
	background: #fafcfc;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 90px;
	border-top: 1px solid #e8edef;
	border-bottom: 1px solid #e8edef;
}

.testimonials p.testimonial-quote {
	font-size: 22px;
	font-style: italic;
	line-height: 40px;
	color: #5a5b5f;
	margin-bottom: 25px;
}

.testimonials p.testimonial-author {
	font-size: 15px;
	color: #93969f;
}

.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
	opacity: .5;
	filter: alpha(opacity=50);
}

.testimonials .carousel-control {
	color: #b0b3b9;
	text-shadow: none;
	margin: 0;
}

.carousel-control .glyphicons-chevron-left, .carousel-control .glyphicons-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	font-size: 60px;
}

.testimonials .carousel-control:hover {
	color: #003366;
}

.testimonials .carousel-control.left, .testimonials .carousel-control.right {
	background-image: none;
}

footer{
	background: #383838;
	padding: 60px 0;
}

footer h5 {
	color: #fafcfc;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer .heading-line {
	background: #4c4c4c;
	margin: 15px 0 0 0;
	width: 100%;
	height: 1px;
	display: block;
}

footer .heading-line-small {
	margin-bottom: 25px;
	background: #e7604a;
	width: 56px;
	height: 2px;
	display: block;
	margin-top: -1px;
}

footer p {
	font-size: 16px;
	line-height: 26px;
	color: #8c9195;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

p.f-post-title {
	color: #c2c9cc;
	margin-bottom: 0;
}

p.f-post-date {
	font-size: 12px;
	padding-bottom: 10px;
	border-bottom: 1px solid #4c4c4c;
}

.copyright {
	background: #2e2e2e;
	padding: 25px 0;
}

.copyright p {
	font-size: 12px;
	color: #979ba3;
	margin: 0;
}

.copyright ul {
	text-align: center;
	margin: 0;
}

.copyright ul li {
	display: inline;
	color: #979ba3;
	margin: 0 0 0 15px;
}

.copyright ul li a{
	color: #979ba3;
	font-size: 24px;
	opacity: .8;
}

.copyright ul li a:hover{
	opacity: 1;
}