{% extends "base/template.html.twig" %}

{% block content %}
<div class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1 class="text-center">TITLE</h1>
  </div>
  <div class="row">
    <p class="flow-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam fermentum euismod enim, porttitor lacinia quam placerat sit amet.
      Cras suscipit dui eu diam ullamcorper suscipit. Maecenas consectetur erat nec tellus hendrerit,
      quis ullamcorper sapien vulputate. Praesent sodales sagittis aliquet.
      Interdum et malesuada fames ac ante ipsum primis in faucibus.
      Proin sit amet porttitor eros, a tincidunt dolor.
      Ut vestibulum urna dignissim orci tempus, eget pretium mauris accumsan.
      Cras a imperdiet lorem, quis viverra est. Vivamus sodales scelerisque odio vel viverra.
      Cras et dui at nisl bibendum facilisis sit amet vitae mauris.
    </p>
  </div>
</div>
{% endblock content %}
